:root {
  --white: rgb(255 255 255);
  --black: rgb(0 0 0);
  --primary: rgb(51 15 63);
  --grey: rgb(86 86 86);
  --lightgrey: rgb(204, 204, 204);
  --purple: rgb(117, 69, 251);
  --deeppurple: #330f3f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: min(90%, 500px);
  margin: 0 auto;
  padding-bottom: 100px;
}

header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  height: 55px;
  border-bottom: 1px solid var(--lightgrey);
  position: sticky;
  top: 0;
  color: var(--deeppurple);
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}
