.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
  width: 100%;
}

.product {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
}

.customer {
  color: rgb(86 86 86);
  margin-top: 12px;
  margin-bottom: 12px;
}
