.product {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
}

.wrapper {
  flex: 1 0 auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1.5px solid var(--lightgrey);
  border-radius: 20px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.title {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.input {
  border: 2px solid var(--lightgrey);
  border-radius: 0.25rem;
  background-color: var(--white);
  color: var(--black);
  padding: 8px;
}

.category {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.category .title {
  margin-top: 0;
}
