.title {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--deeppurple);
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.link {
  margin-top: 2rem;
  display: block;
  text-align: center;
  text-decoration: underline;
}
